# {{ ansible_managed }}
{% for stanza in apt_sources_all_stanzas %}
Types: {{ stanza.types }}
URIs: {{ stanza.uris }}
Suites: {{ stanza.suites }}
Components: {{ stanza.components }}
Signed-By: {{ stanza.signed_by }}
{% if not loop.last %}

{% endif %}
{% endfor %}
