[Unit]
Description=Prometheus Blackbox Exporter
After=network-online.target
Wants=network-online.target

[Service]
User={{ blackbox_exporter_service.user }}
Group={{ blackbox_exporter_service.group }}
ExecStart={{ blackbox_exporter_paths.binary_dir }}/blackbox_exporter \
  --config.file={{ blackbox_exporter_paths.config }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
