COMPOSE_DIR={{ install_docker_compose_target_dir }}
OUTPUT_PATH={{ docker_state_exporter_output_path }}
{% for key, value in docker_state_exporter_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
