{
  "generated_by": "ansible-role-pnp_server",
  "device_map": "device-map.yaml",
  "profiles_path": "profiles/",
  "config_url": "{{ pnp_server_http.config_url }}",
  "image_url": "{{ pnp_server_http.image_url }}",
  "listen": {
    "address": "{{ pnp_server_http.listen.address }}",
    "port": {{ pnp_server_http.listen.port }}
  }
}
