server {
    listen {{ pnp_server_http.listen.address }}:{{ pnp_server_http.listen.port }}{% if pnp_server_tls.enabled %} ssl{% endif %};
    server_name _;

    access_log /var/log/nginx/cisco-pnp-access.log;
    error_log /var/log/nginx/cisco-pnp-error.log;

{% if pnp_server_tls.enabled %}
    ssl_certificate {{ pnp_server_tls.cert }};
    ssl_certificate_key {{ pnp_server_tls.key }};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
{% endif %}

    root {{ pnp_server_http.docroot }};
    index index.html;

    location /pnp/ {
{% if pnp_server_backend.enabled | bool %}
    proxy_pass http://{{ pnp_server_backend.bind.address }}:{{ pnp_server_backend.bind.port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_read_timeout 120s;
{% else %}
        return 503;
{% endif %}
    }

    location /status {
    {% if pnp_server_backend.enabled | bool %}
        proxy_pass http://{{ pnp_server_backend.bind.address }}:{{ pnp_server_backend.bind.port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
{% else %}
        return 503;
{% endif %}
    }

    location /buttons {
    {% if pnp_server_backend.enabled | bool %}
        proxy_pass http://{{ pnp_server_backend.bind.address }}:{{ pnp_server_backend.bind.port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
{% else %}
        return 503;
{% endif %}
    }

    location /configs/ {
        alias {{ pnp_server_http.docroot }}/configs/;
        autoindex off;
    }

    location /images/ {
        alias {{ pnp_server_http.docroot }}/images/;
        autoindex off;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
