# Managed by Ansible
bind_pnp_server = "{{ pnp_server_backend_bind_address }}"
port = {{ pnp_server_backend_bind_port }}
log_file = "{{ pnp_server_backend_log_file }}"
image_url = "{{ pnp_server_image_url }}"
config_url = "{{ pnp_server_config_url }}"
image_data = "{{ pnp_server_backend_images_path }}"
config_file = "{{ pnp_server_backend_config_path }}"
