[Unit]
Description=Cisco PNP server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ pnp_server_backend_user }}
Group={{ pnp_server_backend_group }}
WorkingDirectory={{ pnp_server_backend_bundle_dir }}
ExecStart={{ pnp_server_backend_venv_dir }}/bin/python {{ pnp_server_backend_script_path }} --bind_pnp_server {{ pnp_server_backend_bind_address }} --port {{ pnp_server_backend_bind_port }} --image_url {{ pnp_server_image_url }} --config_url {{ pnp_server_config_url }} --log_file {{ pnp_server_backend_log_file }} --image_data {{ pnp_server_backend_images_path }} --config_file {{ pnp_server_backend_config_path }}
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
