auth_enabled: false

server:
  http_listen_port: {{ loki_server.http_listen_port }}
  http_listen_address: {{ loki_server.bind_address }}
  grpc_listen_port: 9095

common:
  path_prefix: {{ loki_storage.path_prefix }}
  storage:
    filesystem:
      chunks_directory: {{ loki_storage.filesystem.chunks_directory }}
      rules_directory: {{ loki_storage.filesystem.rules_directory }}
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: {{ loki_storage.schema_config.index_prefix }}
        period: 24h

storage_config:
  filesystem:
    directory: {{ loki_storage.path_prefix }}

limits_config:
  retention_period: {{ loki_server.retention_period }}
