[Unit]
Description=Grafana Alloy
After=network-online.target
Wants=network-online.target

[Service]
User={{ alloy_service.user }}
Group={{ alloy_service.group }}
ExecStart={{ alloy_paths.binary }} run {{ alloy_paths.config }} --storage.path={{ alloy_paths.storage_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
